.wrapAllWorks {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.worksContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  background: white;
}
.h2ForAllWorks {
  margin-top: 30px;
  margin-bottom: 60px;
  font-family: "Futura PT";
  color: #042037;
  font-size: 30px;
}
.wrapSmallWorks {
  padding: 40px;
  height: auto;
  width: calc(100% - 80px);
}

.worksMain {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wrapWorksAll {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.workItem {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.workItem:hover {
  transform: scale(1.05);
}

.workImage {
  width: auto;
  height: 600px;
}

.workItem {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.workItem:hover {
  transform: scale(1.05);
}

.workImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.photosSlider {
  position: relative;
  width: 50%;

  margin-bottom: 80px;
}

.workImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Стилі для слайдера */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.nextArrow {
  right: 10px;
}

.prevArrow {
  left: 10px;
}

/* Стилі для точок (перетворення на рисочки) */
.slick-dots li button:before {
  content: "";
  width: 30px; /* Ширина рисочки */
  height: 4px; /* Висота рисочки */
  background-color: rgba(0, 0, 0, 0.5); /* Колір рисочки */
  display: inline-block;
  border-radius: 0; /* Без округлення */
}

.slick-dots li.slick-active button:before {
  background-color: black; /* Колір активної рисочки */
}

/* Стилі для фото */
.workImage {
  width: 100%;
  cursor: pointer; /* Курсор для фото, яке можна збільшити */
}

.workDetailPage {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background: white;
}
.h1InWorks {
  font-family: "Futura PT";
  color: #042037;

  max-width: 100%;
}
.pInWorksSmall {
  margin-top: 40px;
  font-family: "Futura PT";
  color: #042037;
  font-size: 20px;
}
.wrapOneRd {
  width: 800px;
  height: 600px;
  margin-bottom: 100px;
}
.workContent {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapFirstBlock {
  width: 80%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 100px;
}
.wrapHadnSmalDesc {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.ButtonSendMess {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.buttonSend {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #f8b123;
  color: white;
  font-family: "Futura PT";
  font-size: 20px;
  width: 300px;
  height: 60px;
  margin-top: 50px;
}
.video {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.videoWorksP {
  margin-top: 40px;
  font-family: "Futura PT";
  color: #042037;
  font-size: 30px;
  margin-bottom: 50px;
  font-weight: bold;
}
.longDescription {
  margin-top: 60px;
  font-family: "Futura PT";
  color: #042037;
  font-size: 20px;
  line-height: 2;
  margin-bottom: 50px;
}
.videoWrapper {
  width: 560px;

  position: relative;
  padding-bottom: 56.25%; /* 16:9 ratio */
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 560px) {
  .videoWrapper {
    width: 300px;
  }
}

@media only screen and (max-width: 479px) and (min-width: 300px) {
  .wrapHadnSmalDesc {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapSmallWorks {
    padding: 5px;
    height: auto;
    width: calc(100% - 10px);
  }
  .catalogContainer {
    padding-top: 20px;
  }
  .wrapSmallCatalog {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .categorySidebar {
    width: 100%;
    background-color: white;
    padding: 20px;
    border-right: 0 solid #f8b123;
    border-bottom: 1px solid #f8b123;
  }
  .productsMain {
    width: calc(100% - 20px);
    padding: 10px;
    height: auto;
  }
  .wrapProductsAll {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 100px;
  }
  .wrapOneProducts {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    border: 1px solid #042037;
    overflow: hidden;
    transition: transform 0.3s ease, border 0.3s ease; /* Додаємо плавний перехід для збільшення і зміни бордеру */
  }
  .wrapFirstBlock {
    width: calc(100% - 10px);
    padding-left: 5px;
    padding-right: 5px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .pictureBlockWrap {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .wrapAllPhoto {
    width: 60px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .buttonUp {
    width: 60px;
    height: 30px;
    border: none;
    background: #042037;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .buttonDown {
    width: 60px;
    height: 30px;
    border: none;
    background: #042037;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pictureWrap {
    width: calc(60px - 2px);
    height: 113px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

    margin-top: 12px;
  }
  .imageSmall {
    width: calc(99px - 4px);
    height: calc(76px - 4px);
    object-fit: contain;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid var(--primarynormal-color);
  }
  .wrapBlockMainTitle {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0px;
  }
  .likeGuarantyWrap {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .wrapOneGuard {
    width: 180px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .twoButtonsWrap {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
  }
  .byeButtonM {
    margin-left: 0px;
  }
  .haracteristicWrap {
    width: calc(100% - 10px);
    padding-left: 5px;
    padding-right: 5px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .evenItem {
    background-color: #f0f0f0; /* Світло-сірий фон для парних елементів */
    width: 100%;
    margin-top: 15px;
    font-family: "Futura PT";
    font-size: 18px;
  }

  .oddItem {
    background-color: transparent; /* Прозорий фон для непарних елементів */
    width: 100%;
    margin-top: 15px;
    font-family: "Futura PT";
    font-size: 18px;
  }
  .videoReviewContainer {
    width: 100%;
    height: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapSeoText {
    width: calc(100% - 50px);
    height: auto;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Світло-тінь */
    transition: box-shadow 0.3s ease;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: "Futura PT";
    font-size: 20px;
    color: #042037;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 700px) and (min-width: 479px) {
  .wrapHadnSmalDesc {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapSmallWorks {
    padding: 5px;
    height: auto;
    width: calc(100% - 10px);
  }
  .catalogContainer {
    padding-top: 20px;
  }
  .wrapSmallCatalog {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .categorySidebar {
    width: 100%;
    background-color: white;
    padding: 20px;
    border-right: 0 solid #f8b123;
    border-bottom: 1px solid #f8b123;
  }
  .productsMain {
    width: calc(100% - 20px);
    padding: 10px;
    height: auto;
  }
  .wrapProductsAll {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 100px;
  }
  .wrapOneProducts {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    border: 1px solid #042037;
    overflow: hidden;
    transition: transform 0.3s ease, border 0.3s ease; /* Додаємо плавний перехід для збільшення і зміни бордеру */
  }
  .wrapFirstBlock {
    width: calc(100% - 10px);
    padding-left: 5px;
    padding-right: 5px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .pictureBlockWrap {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .wrapAllPhoto {
    width: 60px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .buttonUp {
    width: 60px;
    height: 30px;
    border: none;
    background: #042037;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .buttonDown {
    width: 60px;
    height: 30px;
    border: none;
    background: #042037;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pictureWrap {
    width: calc(60px - 2px);
    height: 113px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

    margin-top: 12px;
  }
  .imageSmall {
    width: calc(99px - 4px);
    height: calc(76px - 4px);
    object-fit: contain;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid var(--primarynormal-color);
  }
  .wrapBlockMainTitle {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0px;
  }
  .likeGuarantyWrap {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .wrapOneGuard {
    width: 180px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .twoButtonsWrap {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
  }
  .byeButtonM {
    margin-left: 0px;
  }
  .haracteristicWrap {
    width: calc(100% - 10px);
    padding-left: 5px;
    padding-right: 5px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .evenItem {
    background-color: #f0f0f0; /* Світло-сірий фон для парних елементів */
    width: 100%;
    margin-top: 15px;
    font-family: "Futura PT";
    font-size: 18px;
  }

  .oddItem {
    background-color: transparent; /* Прозорий фон для непарних елементів */
    width: 100%;
    margin-top: 15px;
    font-family: "Futura PT";
    font-size: 18px;
  }
  .videoReviewContainer {
    width: 90%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapSeoText {
    width: calc(100% - 50px);
    height: auto;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Світло-тінь */
    transition: box-shadow 0.3s ease;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: "Futura PT";
    font-size: 20px;
    color: #042037;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 960px) and (min-width: 700px) {
  .catalogContainer {
    padding-top: 20px;
  }
  .wrapSmallCatalog {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .categorySidebar {
    width: 100%;
    background-color: white;
    padding: 20px;
    border-right: 0 solid #f8b123;
    border-bottom: 1px solid #f8b123;
  }
  .productsMain {
    width: calc(100% - 20px);
    padding: 10px;
    height: auto;
  }
  .wrapProductsAll {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 100px;
  }
  .wrapOneProducts {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    border: 1px solid #042037;
    overflow: hidden;
    transition: transform 0.3s ease, border 0.3s ease; /* Додаємо плавний перехід для збільшення і зміни бордеру */
  }
}
@media only screen and (max-width: 1200px) and (min-width: 960px) {
  .categorySidebar {
    width: 400px;
  }
  .wrapFirstBlock {
    width: calc(100% - 10px);
    padding-left: 5px;
    padding-right: 5px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .pictureBlockWrap {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .wrapAllPhoto {
    width: 60px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .buttonUp {
    width: 60px;
    height: 30px;
    border: none;
    background: #042037;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .buttonDown {
    width: 60px;
    height: 30px;
    border: none;
    background: #042037;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pictureWrap {
    width: calc(60px - 2px);
    height: 113px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

    margin-top: 12px;
  }
  .imageSmall {
    width: calc(99px - 4px);
    height: calc(76px - 4px);
    object-fit: contain;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid var(--primarynormal-color);
  }
  .wrapBlockMainTitle {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0px;
  }
  .likeGuarantyWrap {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .wrapOneGuard {
    width: 180px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .twoButtonsWrap {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
  }
  .byeButtonM {
    margin-left: 0px;
  }
  .haracteristicWrap {
    width: calc(100% - 10px);
    padding-left: 5px;
    padding-right: 5px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .evenItem {
    background-color: #f0f0f0; /* Світло-сірий фон для парних елементів */
    width: 100%;
    margin-top: 15px;
    font-family: "Futura PT";
    font-size: 18px;
  }

  .oddItem {
    background-color: transparent; /* Прозорий фон для непарних елементів */
    width: 100%;
    margin-top: 15px;
    font-family: "Futura PT";
    font-size: 18px;
  }
  .videoReviewContainer {
    width: 90%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapSeoText {
    width: calc(100% - 50px);
    height: auto;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Світло-тінь */
    transition: box-shadow 0.3s ease;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: "Futura PT";
    font-size: 20px;
    color: #042037;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 1400px) and (min-width: 1200px) {
  .categorySidebar {
    width: 400px;
  }
}
@media only screen and (max-width: 1600px) and (min-width: 1400px) {
}
